3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Music/
Links/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
*node_modules/
.android/
miniconda*/
go/
.vscode/
.venv/
.templateengine/
.nvidia-omniverse/
.nuget/
.npm/
.minikube/
.gradle/
.dotnet/
.docker/
.azcopy
.beebootstrap
.bi-sockets
.conda
.config
.kube/cache/http
.kube
.jre
.dlv
.fleet
.github
.gnupg
.gsutil
.hypar
.m2
.pack
.rest-client
.ssh
.thumbnails
.urun
.usdview
.win-vind/log
IntelGraphicsProfiles
NativeWebSocket
