" .ideavimrc is a configuration file for IdeaVim plugin. It uses

"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" c cut and insert
" y copy
" p paste
" { back a para
" } forward a para
" G end of file, gg start of file, % matching bracet
" zz position current line to window middle
" >> indent current line
" = auto indent code
" m[a] mark location
" `[a] move to location
" "[a] register actions,

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'

" Reload .ideavimrc
noremap H :source ~/.ideavimrc

" Use normal human copy paste controls
noremap <D-c> "+y
noremap <D-v> "+p
noremap <D-x> "+d

inoremap <D-c> <Esc>"+y
inoremap <D-v> <Esc>"+p
inoremap <D-x> <Esc>"+d

noremap <D-i> <Esc>
inoremap <D-i> <Esc>
vnoremap <D-i> <Esc>

inoremap <D-e> <Up>
inoremap <D-s> <Left>
inoremap <D-d> <Down>
inoremap <D-f> <Right>

noremap <D-e> <Up>
noremap <D-s> <Left>
noremap <D-d> <Down>
noremap <D-f> <Right>

" Modes
noremap i a
noremap I i

noremap sl V

" navigation
noremap le gg
noremap ld G
noremap ls ^
noremap lS 0
noremap lf $
noremap lF g_
noremap lj J
noremap ln o

noremap gg /
noremap gG ?

map ft /
map fl :

noremap D <C-d>
noremap E <C-u>

" deletion
noremap dl dd
noremap df D
noremap dr r
noremap dc x

" repetition
noremap K n
noremap k ; 
noremap a n
noremap A N

" Special Functions
noremap rol /}<CR>dd?{<CR>dd^/return<CR>ciw=><Esc>l
noremap rov /}<CR>dd?{<CR>ddi=> <Esc><Esc> 
noremap rml /=><CR>xxi{<CR><Down>}<Esc>rf 
noremap hk inoremap <CR>vnoremap <CR>onoremap <Esc>V<Up><Up>lc

" RIDER ACTIONS ----------

" Cursor Jumping
map jK <Action>(Forward) 
map jk <Action>(Back)

map <D-k> <Action>(AceTargetAction)

" Navigation
map gd <Action>(GotoDeclaration)
map ge <Action>(GotoNextError)

map fe <Action>(SearchEverywhere)

" Refactoring
map rf <Action>(ReformatCode)
map rn <Action>(RenameElement)
map rr <Action>(Refactorings.QuickListPopupAction)

" Editor Management
map qo <Action>(CloseAllEditorsButActive)

" Misc
map jj <Action>(ShowIntentionActions)

" Annotation
map al <Action>(ToggleLineBreakpoint)

" Execution
map xd <Action>(ChooseDebugConfiguration)
map xr <Action>(ChooseRunConfiguration)

" Windows
map we <Action>(ActivateProjectToolWindow)
map wb <Action>(ActivateBookmarksToolWindow)
map wB <Action>(ViewBreakpoints)
map wa <Action>(ActivateAIAssistantToolWindow)
map wx <Action>(ActivateBuildToolWindow)
map wd <Action>(ActivateDebugToolWindow)
map wf <Action>(ActivateFindToolWindow)
map wh <Action>(ActivateHierarchyToolWindow)
map wp <Action>(ActivateProblemsViewToolWindow)
map wl <Action>(ActivatePullRequestsToolWindow)
map wr <Action>(ActivateRunToolWindow)
map ws <Action>(ActivateStructureToolWindow)
map wt <Action>(ActivateTerminalToolWindow)
map wo <Action>(ActivateTODOToolWindow)
map wu <Action>(ActivateUnitTestsToolWindow)
map wg <Action>(ActivateVersionControlToolWindow) 
 
map ww <Action>(Switcher)
map wf <Action>(NextSplitter)
map wF <Action>(PreviousSplitter)

map lc <Action>(EditorAddCaretPerSelectedLine)

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
